[submodule "etc/vim/bundle/vim-coffee-script"]
	path = etc/vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "etc/vim/bundle/vim-pathogen"]
	path = etc/vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "etc/vim/bundle/vim-colors-solarized"]
	path = etc/vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "etc/vim/bundle/lusty"]
	path = etc/vim/bundle/lusty
	url = https://github.com/sjbach/lusty
[submodule "etc/vim/bundle/vimerl"]
	path = etc/vim/bundle/vimerl
	url = https://github.com/jimenezrick/vimerl.git
